.category_button {
    width: 100w;
    padding: 20px;
    background-color: lightgrey;
    color: black;
    border: 1px solid grey;
    text-decoration: none;
    text-transform: uppercase;
}
.category_button:focus{
    outline-width: 0px;
}
.selected_category_button{
    background-color: grey;
}