.category_button {
    width: 20%;
    height: 30px;
    background-color: lightgrey; 
    color: black;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}
.category_button:focus{
    outline-width: 0px;
}
.selected_category_button{
    background-color: grey;
}