.category_button {
    width: 125px;
    padding: 20px;
    background-color: #F2F2F2;
    color: #2F2E41;
    font-weight: bold;
    border: 1px solid #615AE5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms linear;
    font-size: 12px;
}

.alternative_button{
    width: 70px;
}

@media (min-width: 1200px){
    .category_button{
        width: 160px;
        padding:30px;
        font-size: 16px;
    }
    .alternative_button{
        width: 70px;
    }
}

@media (min-width: 768px){
    .category_button{
        width: 150px;
        padding:25px;
        font-size: 14px;
    }
    .alternative_button{
        width: 70px;
    }
}

.category_button:focus {
    outline-width: 0px;
}

.category_button:hover {
    background-color: #615AE5;
    cursor: pointer;
}

.selected_category_button{
    background-color: #6C63FF;
}