.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header{
  flex: 0;
  flex-direction: column;
  text-align: center;
}

.categories{
  flex: 1;
  height: 500px;
  text-align: center;
}

.exhibition{
  flex: 2;
  height: 500px;
  text-align: center;
  border: 1px solid;
}

.footer{

  text-align: center;
}