.header {
  text-align: center;
  margin-bottom: 30px;
}

.contentContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* justify-content: space-around; */
}

.categories{
  height: 500px;
  width: 400px;
  margin: auto;
  text-align: center;
}

.exhibition{
  max-width: 800px;
  margin: auto;
  border: 1px solid;
  overflow: hidden;
  padding: 25px;
}
